body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: rgb(160, 222, 148);
}

.logo img {
    width: 100px;
    height: auto;
}

.logo {
    text-align: center;
    margin-top: 20px;
}

.title {
    text-align: center;
    color: white;
    font-size: 2em;
    margin-top: 10px;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7);
}

.menu-hamburguesa {
    position: absolute;
    left: 10px;
    top: 10px;
    z-index: 10;
}

.menu-hamburguesa input {
    display: none;
}


.menu-hamburguesa .menu {
    display: none;
    flex-direction: column;
    position: fixed;
    left: 0;
    top: 0;
    width: 25%;
    height: 99%;
    background-color: #fff;
    padding-top: 50px;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.5);
    transition: transform 0.3s ease;
    transform: translateX(-100%);
    border: 4px solid rgb(6, 5, 5);
    border-radius: 5px;
}

.menu-hamburguesa input:checked ~ .menu {
    display: flex;
    transform: translateX(0);
}

.menu-hamburguesa .menu a {
    padding: 20px;
    color: #124921;
    text-decoration: none;
    text-align: left;
    border-bottom: 1px solid #fdf6f6;
    display: flex;
    align-items: center;
    transition: background-color 0.3s ease;
    text-shadow: 2px 2px 5px rgba(50, 48, 48, 0.7);
}
s
.menu-hamburguesa .menu a i {
    margin-right: 10px;
    font-size: 24px;
}

.menu-hamburguesa .menu a:hover {
    background-color: #839a5c;
}

.menu-hamburguesa .menu .social {
    margin-top: auto;
    padding: 20px;
    text-align: left;
}

.menu-hamburguesa .menu .social a {
    color: #124921;
    text-decoration: none;
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.menu-hamburguesa .menu .social a i {
    margin-right: 10px;
    font-size: 24px;
}

.menu-hamburguesa label {
    display: block;
    cursor: pointer;
    padding: 15px;
    background-color: #50ce7e;
    color: #1c4927;
    border-radius: 5px;
    border: 2px solid white; 
}

.menu-hamburguesa label:hover {
    background-color: #fff;
    transition: background-color 0.3s ease;
    
}

.close-menu{
    font-size: 16px; 
    padding: 10px; 
    background-color: #3f9a4f !important; 
    color: rgb(244, 245, 242) !important;
    text-align: center;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.close-menu:hover {
    box-shadow: 0px 4px 8px rgba(245, 248, 247, 0.3); /* Sombreado cuando se pasa el cursor */
}


.carousel {
    width: 40%;
    height: 250px;
    margin: 30px auto;
    overflow: hidden;
    position: relative;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.carousel-images {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.carousel-images div {
    min-width: 100%;
    box-sizing: border-box;
}

.carousel-images img {
    width: 100%;
    border-radius: 10px;
}

.carousel-caption {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    color: #fff;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 1.2em;
}

.whatsapp-container {
    position: absolute;
    bottom: 10px;
    right: 10px;
    display: flex;
    align-items: center;
}

.whatsapp {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    color: white;
    background-color: #25D366;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    text-decoration: none;
}

.whatsapp-message {
    margin-left: 10px;
    font-size: 14px;
    color: white;
}

.boton2{
    font-size: 18px; 
    padding: 10px 20px; 
    margin-right: 10px; 
    background-color: #50ce7e; 
    color: #1c4927; 
    border: 2px solid white; 
    border-radius: 5px;
    width: 160px;
    text-align: center;
    display: inline-block;
    text-decoration: none;
}
.boton2:hover {
    background-color: #fff;
    transition: background-color 0.3s ease;
    
}

.h3 {
    background-color: #50ce7e; 


}

/* Reserva generada con exito*/
.confirmation-box-reservaexitosa {
    background-color: rgb(134, 124, 124);  /* Color de fondo gris claro */
    color: #fbfefc;  /* Color del texto verde */
    padding: 10px;
    border-radius: 20px; /* Redondear los bordes del cuadro */
    border: 3px solid #fff;
    text-align: center; /* Centrar el texto */
    max-width: 600px; /* Establece el ancho máximo del div */
    margin: 0 auto; /* Centra el div horizontalmente */
    font-weight: bold; /* Hace que el texto sea negrita */
}

.confirmation-user {
    background-color: rgb(134, 124, 124);  /* Color de fondo gris claro */
    color: #fbfefc;  /* Color del texto verde */
    padding: 10px;
    border-radius: 20px; /* Redondear los bordes del cuadro */
    border: 3px solid #fff;
    text-align: center; /* Centrar el texto */
    max-width: 600px; /* Establece el ancho máximo del div */
    margin: 0 auto; /* Centra el div horizontalmente */
    font-weight: bold; /* Hace que el texto sea negrita */
}
.no-reservas{
    background-color: rgb(134, 124, 124);  /* Color de fondo gris claro */
    color: #fbfefc;  /* Color del texto verde */
    padding: 10px;
    border-radius: 20px; /* Redondear los bordes del cuadro */
    border: 3px solid #fff;
    text-align: center; /* Centrar el texto */
    max-width: 600px; /* Establece el ancho máximo del div */
    margin: 0 auto; /* Centra el div horizontalmente */
    font-weight: bold; /* Hace que el texto sea negrita */
}


