body {
    background-color: #2E3C37; /* Fondo azul claro */
/*     background:url(final.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover; */
    color: #ffffff; /* Texto negro */
    font-size: 22px;   
}
.gift {

width: 150px;
height: 150px;
}

h1 {
    text-align: center;
}

.opciones {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}

.boton {
    width: 200px;
    height: 60px;
    font-size: inherit;
    border: 2px solid #ffffff; /* Borde verde */
    background-color: #27963C; /* Fondo gris */
    color: #ffffff; /* Texto blanco */
    margin-bottom: 10px;
    border-radius: 15px;
    cursor: pointer;
}

.select select {
    padding: 5px 8px;
    width: 130%;
    border: none;
    box-shadow: none;
    background-color: transparent;
    background-image: none;
    appearance: none;
}

select,
input[type="date"],
input[type="time"],
input[type="text"],
input[type="email"],
input[type="password"],
input[type="number"] {
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
     border-radius: 20px;
     border: 1px solid #2d9fd9;
     color: #a0d18c;
     width: 90%;
     height: 30px;
     padding-left: 10px;
     font-size: 20px;
    }
    
select,
input[type="date"],
input[type="time"],
input[type="text"],
input[type="email"],
input[type="password"],
input[type="number"] {
     outline: none;
     border: 1px solid #a0d18c;
     color: #000000;
}



#mensaje-bienvenida {
    text-align: center;
    font-weight: bold;
    margin-top: 20px;
}

.formulario {
    max-width: 400px;
    margin: 0 auto;
}

input {
    width: 100%;
    margin-bottom: 10px;
    padding: 5px;
}

button {
    width: 100%;
    height: 40px;
    border: 2px solid #ffffff; /* Borde verde */
    background-color: #00580f; /* Fondo gris */
    color: #ffffff; /* Texto blanco */
    font-size: inherit;
    border-radius: 15px;
    cursor: pointer;
}



.mi-boton {
    width: 100%;
    height: 40px;
    border: 2px solid #ffffff; /* Borde verde */
    background-color: #00580f; /* Fondo gris */
    color: #ffffff; /* Texto blanco */
    font-size: inherit;
    border-radius: 15px;
    cursor: pointer;
}



#contenedorFormulario {
    text-align: center;
  }

  form {
    display: inline-block;
    text-align: left;
  }

  .form-container {
    width: 450px; /* Ajusta el ancho según tus necesidades */
    padding: 20px;
    margin: 0 auto;
    background-color: #fff;
    color: #0a0a0a; /* Texto blanco */
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.8); /* Aumenta el desenfoque y la opacidad */
}

.form-container h2 {
    text-align: center;
    margin-bottom: 20px;
}


#titulo {
    color: #ffffff; /* Color del texto */
    margin-top: 0; /* Eliminar margen superior del título */
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 5px;
    margin: 10px;
}

.grid-item {
    padding: 10px;
    border: 1px solid #000000;
    background-color: #9bc999; 
    color:#000000;
}

.grid-header {
    font-weight: bold;
    background-color: #27963C; 
}

.input-rounded {
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    border: 1px solid #2d9fd9;
    color: #a0d18c;
    width: 90%;
    height: 30px;
    padding-left: 10px;
    font-size: 20px;
    outline: none;
    border: 1px solid #a0d18c;
    color: #000000;
}

.confirmation-box {
    background-color: #d4edda; /* Fondo verde claro */
    border: 2px solid #c3e6cb; /* Borde verde más oscuro */
    border-radius: 8px; /* Bordes redondeados */
    padding: 20px; /* Espaciado interno */
    max-width: 500px; /* Ancho máximo del cuadro */
    margin: 20px auto; /* Centrar el cuadro horizontalmente */
    text-align: center; /* Centrar el texto */
}

/* Estilo para el título */
.confirmation-box h1 {
    font-size: 2em; /* Tamaño de fuente grande */
    font-weight: bold; /* Fuente en negrilla */
    color: #155724; /* Color del texto verde oscuro */
    margin: 0; /* Eliminar márgenes */
}
/* Estilos generales para el contenedor del formulario */
.form-container {
    background-color: #f0f0f0; /* Fondo gris claro */
    padding: 20px;
    border-radius: 15px;
    max-width: 400px; /* Reduce el tamaño del formulario */
    margin: 0 auto; /* Centra el formulario en la página */
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1); /* Sombra alrededor del contenedor */
    border-color:#2f8f09 ;
}

/* Estilo para cada grupo de formulario */
.form-group {
    margin-bottom: 0px;
}

/* Estilos para los inputs */
.input-rounded {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
    transition: border-color 0.3s ease;
}

.input-rounded:focus {
    border-color: #25D366; /* Color del borde en foco (color WhatsApp) */
    outline: none;
}

/* Estilos para las etiquetas */
.form-label {
    font-weight: bold;
    color: #333;
    margin-bottom: 5px;
    display: block;
}

/* Estilos para el botón de enviar */
.mi-boton {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 15px;
    background-color: #25D366; /* Color del botón (color WhatsApp) */
    color: white;
    font-size: 1em;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.mi-boton:hover {
    background-color: #1da851; /* Color del botón al pasar el ratón */
}

/* Título del formulario */
.h2 {
    text-align: center;
    color: #918888;
    margin-bottom: 20px;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
    font-family: 'Arial', sans-serif;
    font-weight: bold;
}
