{% extends "base.html" %}     <!--lenguaje de plantillas dentro del marco de trabajo de django-->
{% load static %}                                      

{% block content %}


<head>
    <title>Formulario de reserva</title>
</head>

<body>
    <h2>Formulario de reserva</h2>
    <form enctype="multipart/form-data" method="post">
        {% csrf_token %}
        <div>                                                 <!--contenido y secciones de pagina-->
            <label for="fecha" class="form-label">Fecha</label>
            <input class="input-rounded" type="date" name="fecha" id="fecha">   <!--clase y propiedades del codigo -->
        </div>
        <div>
            <label for="hora" class="form-label">Hora</label>
            <input class="input-rounded" type="time" name="hora" id="hora">
        </div>
        <div>
            <label for="id_cancha" class="form-label">Cancha</label>
            <select class="form-control" name="id_cancha" id="id_cancha">
                <option value="">Seleccione...</option>
                {% for itemcancha in lstcancha %}
                    <option value="{{ itemcancha.id_cancha }}">{{ itemcancha.cancha_zonal }}</option>
                {% endfor %}
            </select>
        </div>
        <div>
            <label for="num_jugadores" class="form-label"># Jugadores</label>
            <input type="number" name="num_jugadores" id="num_jugadores">
        </div>
        <div>
            <label for="color_uniforme" class="form-label">Color Uniforme</label>
            <input type="text" name="color_uniforme" id="color_uniforme" maxlength="20">
        </div>
        <label for="arbitraje" class="form-label">Arbitraje</label>
        <select class="form-control" aria-label=".form-select-lg example" name="arbitraje">
            <option value="-1">Seleccione...</option>
            <option value="1">Si</option>
            <option value="0">No</option>
        </select>
        <div>
            <label for="petos" class="form-petos"># Petos</label>
            <input type="number" name="petos" id="petos">
        </div>
        <div>
            <label for="id_deporte" class="form-label">Tipo Deporte</label>
            <select class="form-control" name="id_deporte" id="id_deporte">
                <option value="">Seleccione...</option>
                {% for itemDep in lstdeporte %}
                <option value="{{ itemDep.id_deporte }}">{{ itemDep.nombre_deporte }}</option>
                {% endfor %}
            </select>
        </div>
        <div>
            <label for="balones" class="form-petos"># Balones</label>
            <input type="number" name="balones" id="balones">
        </div>

        <input type="hidden" id="id_usuario" name="id_usuario" value="1">


        <br>
        <input class="mi-boton" type="submit" value="Guardar" />

    </form>
 <!--tutorial youtube, codigo para verificacion de errores en el formulario-->
    {% if form.errors %}                
    <div class="alert alert-danger">  <!--mensaje de advertencia -->
        <ul>
            {% for field in form %}
            {% if field.errors %}
            <li>{{ field.label }}: {{ field.errors }}</li>
            {% endif %}
            {% endfor %}
        </ul>
    </div>
    {% endif %}


</body>


{% endblock %}