{% extends "base.html" %}
{% load static %}

{% block content %}


<head>
    <title>Formulario de reserva</title>
</head>
<body>
    <h2>Formulario de reserva</h2>
    <form enctype="multipart/form-data"  method="post">
        {%csfr_token%}
        {%for campo in formulario %}
    <div class="reserva">
        <label for="" class="form label">{{ campo.label }}</label>
        {{ campo }}
    <div>

        <div class="reserva">
             <label for="" class="form-label">Nombre:</label>
             <input
              type="text"
              class="form-conrol"
              name=""
               id=""
               aria-describedby="helpid"
               placeholder="Nombre"      
            /> 
        </div>
        {% endfor %}
        </form>

</body>


{% endblock %}




<!-- <label for="nombre_apellido">Nombre y Apellido:</label><br>
        <input type="text" id="nombre_apellido" name="nombre_apellido"><br><br>
        
        <label for="telefono">Teléfono:</label><br>
        <input type="text" id="telefono" name="telefono"><br><br>
        
        <label for="correo">Correo electrónico:</label><br>
        <input type="email" id="correo" name="correo"><br><br>
        
        <label for="fecha">Fecha de reserva:</label><br>
        <input type="date" id="fecha" name="fecha"><br><br>
        
        <label for="hora">Hora de reserva:</label><br>
        <input type="time" id="hora" name="hora"><br><br>
        
        <label for="num_jugadores">Número de jugadores:</label><br>
        <input type="number" id="num_jugadores" name="num_jugadores"><br><br>
        
        <label for="petos">Número de petos:</label><br>
        <input type="number" id="petos" name="petos"><br><br>
        
        <label for="balones">Número de balones:</label><br>
        <input type="number" id="balones" name="balones"><br><br>
        
        <input type="submit" value="Enviar">
 -->