{% extends "base.html" %}
{% load static %}

{% block content %}

<head>
    <title> Reserva Generada</title>    
</head>

<body>
    <style>
        body {
            background-image: url("{% static 'assets/images/practicarugby.jpeg' %}");
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            background-attachment: fixed;
        }
    </style>
    <div class="confirmation-box-reservaexitosa">
        <h1>Reserva Generada con Éxito!</h1>        
    </div>
</body>



{% endblock %}