{% extends "base.html" %}
{% load static %}

{% block content %}
<script>
    
    function validateName(event) {
            const input = event.target;
            const value = input.value;
            const regex = /^[A-Za-zÀ-ÖØ-ÿ\s]*$/; // Permite solo letras y espacios

            if (!regex.test(value)) {
                input.value = value.replace(/[^A-Za-zÀ-ÖØ-ÿ\s]/g, ''); // Elimina caracteres no permitidos
            }
        }
  
  function validateLastname() {
      const inputName = document.getElementById('apellidos').value;
      if (/[^A-Za-zÁÉÍÓÚáéíóúÑñ\s]/.test(inputName)) {
        Swal.fire({
          icon: 'error',
          title: 'Entrada no válida',
          text: 'El apellido solo puede contener letras y espacios.',
        });
        return false;
      }
      return true;
  }
  
  /* function validatePhone() {
      const inputPhone = document.getElementById('telefono').value;
      if (/[^0-9]/.test(inputPhone)) {
          Swal.fire({
              icon: 'error',
              title: 'Entrada no válida',
              text: 'El Telefono solo puede contener números.',
          });
          return false;
      }
      return true;
  } */

  function validateNumber(input) {
    // Elimina cualquier carácter no numérico
    input.value = input.value.replace(/[^0-9]/g, '');
  }

  function validateEmail() {
      const inputEmail = document.getElementById('correo').value;
      const emailPattern = /^[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.(com|co)$/;
      
      if (!emailPattern.test(inputEmail)) {
          Swal.fire({
              icon: 'error',
              title: 'Correo no válido',
              text: 'El correo debe contener "@" y terminar en ".com" o ".co".',
          });
          return false;
      }
      return true;
  }
  
  function validateDocumentType() {
      const documentSelect = document.getElementById('id_documento');
      if (documentSelect.value === "-1") {
          Swal.fire({
              icon: 'error',
              title: 'Selección requerida',
              text: 'Debe seleccionar un tipo de documento.',
          });
          return false;
      }
      return true;
  }
  
  function validateDocumentNumber() {
      const documentNumber = document.getElementById('numero_documento').value;
      if (/[^0-9]/.test(documentNumber)) {
          Swal.fire({
              icon: 'error',
              title: 'Entrada no válida',
              text: 'El  documento solo puede contener numeros.',
          });
          return false;
      }
      return true;
  }
  </script>
<body>
    <style>
        body {
            background-image: url("{% static 'assets/images/iarugby.jpg' %}");
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            background-attachment: fixed;
        }
    </style>
    <div class="form-container">
        <h2 class="h2">Registra tu usuario</h2>
        <form enctype="multipart/form-data" method="post">
            {% csrf_token %}
            <div class="form-group">
                <label for="nombres" class="form-label">Nombre(s)</label>
                <!-- <input class="input-rounded" type="text" name="nombres" id="nombres" maxlength="100" placeholder="Ingresa Nombre(s)" required pattern="[A-Za-zÀ-ÖØ-ÿ\s]+" > -->
                <input class="input-rounded" type="text" name="nombres" id="nombres" maxlength="100" placeholder="Ingresa Nombre(s)" required oninput="validateName(event)">
            </div>
            <div class="form-group">
                <label for="apellidos" class="form-label">Apellido(s)</label>
                <input class="input-rounded" type="text" name="apellidos" id="apellidos" maxlength="100" placeholder="Ingresa Apellido(s)" required oninput="validateName(event)">
            </div>
            <div class="form-group">
                <label for="telefono" class="form-label">Teléfono</label>
                <input class="input-rounded" type="text" name="telefono" id="telefono" maxlength="60" placeholder="# Teléfono" required oninput="validateNumber(this)">
            </div>
            <div class="form-group">
                <label for="correo" class="form-label">Correo</label>
                <input class="input-rounded" type="email" name="correo" id="correo" maxlength="100" placeholder="Email" required onblur="validateEmail()">
            </div>
            <div class="form-group">
                <label for="clave" class="form-label">Contraseña</label>
                <input class="input-rounded" type="password" name="clave" id="clave" maxlength="20" placeholder="Crea tu contraseña" required>
            </div>
            <div class="form-group">
                <input type="hidden" id="id_rol" name="id_rol" value="2">
            </div>
            <div class="form-group">
                <label for="id_documento" class="form-label">Tipo Documento</label>
                <select class="input-rounded" name="id_documento" id="id_documento" required onblur="validateDocumentType()">
                    <option value="-1">Seleccione...</option>
                    {% for itemDoc in lstDoc %}
                        <option value="{{ itemDoc.id_documento }}">{{ itemDoc.nombre_tipo_documento }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="form-group">
                <label for="numero_documento" class="form-label">Número Documento</label>
                <input class="input-rounded" type="text" name="numero_documento" id="numero_documento" maxlength="60" placeholder="# Documento" required onblur="validateDocumentNumber()">
            </div>
            <div class="form-group">
                <input class="mi-boton" type="submit" value="Guardar" />
            </div>
        </form>
    </div>
</body>
{% endblock %}
